# --- Dependencies ---
node_modules/
.pnp
.pnp.js

# --- Testing ---
coverage/
.nyc_output/

# --- Production / Build ---
dist/
web-build/
build/

# --- Expo ---
.expo/
*.jks
*.p12
*.keystore
*.aab
*.apk
*.ipa

# --- Native (If you ever "eject" or "prebuild") ---
/ios
/android

# --- Environment Variables (CRITICAL) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- System ---
.DS_Store
Thumbs.db